<ion-slide-box class="lunbobox" auto-play="true" does-continue="true" slide-interval="3000">
	<ion-slide>
		<img ng-src="{{pics[0]}}">
	</ion-slide>
	<ion-slide>
		<img ng-src="{{pics[1]}}">
	</ion-slide>
	<ion-slide>
		<img ng-src="{{pics[2]}}">
	</ion-slide>
	<ion-slide>
		<img ng-src="{{pics[3]}}">
	</ion-slide>
</ion-slide-box>

<a href="#/film/{{id}}" ng-repeat="id in ids track by $index" ng-click="filmdetail()">
	<div class="list card">
		<div class="item item-image">
			<img ng-src="{{posters[$index]}}" alt="">
		</div>
		<div class="item item-icon-right assertive">
			<p class="name">{{name[$index]}}</p>
			<p class="cinemaCount">{{cinemaCount[$index]}}家影院上映 {{watchCount[$index]}}人购票</p>
			<i class="grade icon">{{grade[$index]}}</i>
		</div>
	</div>
</a>

<div class="row">
    <button class="button button-outline button-small col col-33 col-offset-33" ng-click="loadMore()">
        更多热映电影
    </button>
</div>

<style>
		.lunbobox{
			width: 100%;
		}
		.lunbobox img{
		    width: 100%;
		}
		.name{
			font-size: 12px!important;
			font-weight: bold;
		}
		.cinemaCount{
			font-size: 12px!important;
			color: gray!important;
		}
		.grade{
			font-size: 22px!important;
		}
		a{
			text-decoration: none;
		}
	</style>